.calculator {
	width: 100%;
	max-width: 414px;
	height: 100vh;
	max-height: 896px;
	padding: 25px;
	background-image: radial-gradient(
		at top right,
		#f2ecfa 8%,
		#f5f0fa 12%,
		#f7f6f9 80%
	);
	overflow: hidden;
	position: relative;
}

h1 {
	color: var(--dark-purp);
	font-weight: 300;
	letter-spacing: 0.89px;
	font-size: 2.5rem;
	line-height: 2.7rem;
}

h1 span {
	font-weight: 500;
	font-size: 2.5rem;
}

/*TODO: INPUT BOX STYLING*/
#display {
	width: 100%;
	height: 150px;
	line-height: 240px;
	padding: 5px;
	text-align: right;
	font-size: 3rem;
	color: #272727;
	background: transparent;
	border-top: rgb(27, 27, 27) 3px solid;
	outline: none;
	margin-bottom: auto;
	position: relative;
	z-index: 11;
}

/*TODO: BUTTON GROUP*/
main {
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
}

#calc-organizer {
	margin: auto;
}

#btn-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 5px;
	border-radius: 25px;
}

/* TODO: BUTTON STYLING*/
button {
	background-color: var(--med-purp);
	padding: 15px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	transition: transform 50ms ease-in-out;
}

button:active {
	transform: scale(0.95) translateY(1px);
}

button:hover {
	background-color: rgba(188, 172, 212, 0.75);
}

.num-btn,
button.operator,
button.top-operators,
.num_grid {
	font-size: 2rem;
}

button.operator {
	background: var(--dark-purp);
}

button.operator:hover {
	background: rgba(144, 136, 210, 0.75);
}

button.top-operators {
	background: var(--purp-2);
}

button.top-operators:hover {
	background: rgba(178, 171, 231, 0.75);
}

#clear {
	grid-column-start: span 2;
}

#zero {
	grid-column-start: span 2;
}

@media screen and (min-width: 390px) {
	/*Increase title font @390pxW*/
	h1 {
		font-size: 4rem;
		line-height: 4.3rem;
	}
	h1 span {
		font-weight: 500;
		font-size: 4rem;
	}
}
@media screen and (min-width: 416px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.calculator {
		border: rgba(188, 172, 212, 0.15) solid 2px;
		border-radius: 25px;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
			rgba(0, 0, 0, 0.05) 0px 5px 10px;
	}
}
