.calculator{
    width: 300px;
    height: 645px;
    border: black solid 1px;
    border-radius: 25px;
    padding: 25px;
    background-image: radial-gradient(at top right, #f2ecfa 8%,#f5f0fa 12%,#f7f6f9 80%);
    position: relative;
    /*background-color: #f8f7f8;*/
}
#calc_container{
    height: 100%;
    /*position: relative;*/
}

h1{
    color: var(--dark-purp);
    font-weight: 300;
    letter-spacing: .89px;
    font-size: 2rem;
    line-height: 2.3rem;
}
h1 span{
    font-weight: 500;
    font-size: 2.4rem;
}

main{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /*left: 50%;*/
    /*right: 25px;*/
    /*transform: translateX(-50%);*/
    /*margin-top: auto;*/
}


.num_grid{
    display: grid;
    /*height: 245px;*/
    width: 270px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    column-gap: 5px;
    row-gap: 5px;
    background-color: rgb(243, 243, 243);
    /*background-color: var(--med-purp);*/
    padding-bottom: 20px;
    border-radius:25px ;
    /*place-items: center;*/
}
.num_grid > button{
    /*background-color: rgb(234, 234, 234);*/
    background-color: var(--med-purp);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: transform 50ms ease-in-out;
}
.num_grid > button:active{
    transform: scale(.9);

}
button.operator{
   background: var(--dark-purp);
    font-size: 4rem;
}
button.operator p{
    background: var(--dark-purp);
    font-size: 1.9rem;
}
button.top-operators{
    background: var(--purp-2);
}
#clear{
    grid-column-start: span 2;
}
#zero{
    grid-column-start: span 2;
}

/*TODO: INPUT BOX STYLING*/
#curr_calculation{
    width:100%;
    height: 50px;
/*display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
    padding: 5px;
    text-align: right;
    font-size: 3rem;
    color: #272727;
    background: transparent;
    outline: none;
}
#curr_calculation::placeholder{
    font-size: 3rem;
}