@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* Box sizing rules and reset*/
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-family: 'Source Sans Pro', sans-serif;
    /* resetting font size to 10px makes rem math much easier*/
    font-size: 10px;
    box-sizing: border-box;
}
/* Set core body defaults */
body {
    min-height: 100vh;
    /*width: 100%;*/
    text-rendering: optimizeSpeed;
    line-height: 1.5;


}
P, li {
    font-size: 1.6rem;
}
:root{
    --dark-purp:#9088d2;
    --med-purp:#bcacd4;
    --purp-2:#b2abe7;
}